[user]
	email = maximilian.klammer@gmail.com
	name = Max Klammer

[core]
	editor = nvim
  pager = delta
	excludesfile = /Users/maximilian.klammer/.gitignore

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
		line-numbers = true
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[rerere]
	enabled = true

[alias]
	lol = log --format='* %C(yellow) %h %Creset %<(22)%an %<(12)%cd %<(80,trunc)%s %GK' --date=format:'%y-%m-%d %H:%M' --reverse --perl-regexp --author='^((?!(pleo-bot|github-actions|pleo-file-distributor)).*)$' -15
